<p style="color: green"><%= notice %></p>

<div class="card-body py-3">
 <div class="row">
  <div class="col-12 col-md-6 my-auto text-center text-md-left">
    <h4>Pedidos</h4>
  </div>

  <div class="col-12 col-md-6 my-auto text-center text-md-right">
    <%= link_to "Novo Pedido", new_order_path, class: "btn btn-success" %>
  </div>
 </div>
</div>

<div class="table-container">
  <table class="table table-sm custom-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Ações</th>
        <th scope="col">Entrega</th>
        <th scope="col">Horário</th>
        <th scope="col">Valor</th>
        <th scope="col">Está pronto?</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="tg-0lax"><%= order.id %></td>
          <td class="tg-0lax"><%= order.client_name %></td>
          <td class="tg-0lax">     
            <%= link_to "#", class: "btn p-0 text-success table_button" do %>
             <i class="bi bi-card-list"></i>
            <% end %>

            <%= link_to "#", class: "btn p-0 text-sucess table_button" do %>
              <i class="bi bi-printer"></i>
            <% end %>

            <%= link_to "#", class: "btn p-0 text-danger table_button" do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
          <td class="tg-0lax"><%= order.delivery_date.strftime("%d/%m/%Y") %></td>
          <td class="tg-0lax"><%= order.delivery_hour %></td>
          <td class="tg-0lax">
            <%= number_to_currency(order.value, unit: '', separator: ',', delimiter: '.', format: '%n%u') %>
          </td>
          <td class="tg-0lax">
            <%= check_box_tag '', class: "table-checkbox" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>