<p style="color: green"><%= notice %></p>

<div class="card-body py-3">
 <div class="row">
  <div class="col-12 col-md-6 my-auto text-center text-md-left">
    <h4>Pedidos</h4>
  </div>

  <div class="col-12 col-md-6 my-auto text-center text-md-right">
    <%= link_to "Novo Pedido", new_order_path, class: "btn btn-success" %>
  </div>
 </div>
</div>

<%= content_tag(:div, class: "row mb-3") do %>
  <%= content_tag(:div, class: "col-5 mb-2 d-flex justify-content-center align-items-center") do %>
    <%= label_tag(:itemsPerPage, "Itens por página:", style: "margin-right: 10px;") %>
    <%= select_tag(:itemsPerPage, options_for_select([5, 10, 25, 50, 100], params[:itemsPerPage]), id: "itemsPerPageSelect") %>

  <% end %>
<% end %>


<div class="table-container">
  <%= content_tag(:table, class: "table table-sm custom-table") do %>
    <thead>
      <tr>
        <th scope="col" class="sortable" style="width: 50px;"># </th>
        <th scope="col" class="sortable" id= "client_name"  style="width: 150px;">Cliente </th>
        <th scope="col" style="width: 100px;">Ações </th>
        <th scope="col" class="sortable" style="width: 100px;">Entrega </th>
        <th scope="col" class="sortable" style="width: 100px;">Horário </th>
        <th scope="col" class="sortable" style="width: 100px;">Valor </th>
        <th scope="col" class="sortable" style="width: 50px;">Está pronto? </th>

      </tr>
    </thead>
    <tbody>
      <% @orders.offset((params[:page].to_i - 1)*@items_per_page).limit(@items_per_page).each do |order| %>
        <tr>
          <td class="tg-0lax"><%= order.id %></td>
          <td class="tg-0lax"><%= order.client_name %></td>
          <td class="tg-0lax">     
            <%= link_to "#", class: "btn p-0 text-success table_button" do %>
             <i class="bi bi-card-list"></i>
            <% end %>

            <%= link_to "#", class: "btn p-0 text-sucess table_button" do %>
              <i class="bi bi-printer"></i>
            <% end %>

            <%= link_to order_path(order), method: :delete, class: "btn p-0 text-danger table_button", data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer excluir o pedido n° #{order.id}?"}  do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
          <td class="tg-0lax"><%= order.delivery_date.strftime("%d/%m/%Y") %></td>
          <td class="tg-0lax"><%= order.delivery_hour %></td>
          <td class="tg-0lax">
            <%= number_to_currency(order.value, unit: '', separator: ',', delimiter: '.', format: '%n%u') %>
          </td>
          <td class="tg-0lax">
            <%= check_box_tag '', class: "table-checkbox" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</div>


<div class="pagination-container mt-3">
  <%= content_tag(:div, class: "pagination") do %>
    <% (1..(@orders.count / @items_per_page).ceil).each do |page| %>
      <%= link_to(page, "#", class: "page-link", data: { page: page }) %>
    <% end %>
  <% end %>
</div>