<p style="color: green"><%= notice %></p>

<div class="card-body py-3">
 <div class="row">
  <div class="col-12 col-md-6 my-auto text-center text-md-left">
    <h4>Pedidos</h4>
  </div>

  <div class="col-12 col-md-6 my-auto text-center text-md-right">
    <%= link_to "Novo Pedido", new_order_path, class: "btn btn-success" %>
  </div>
 </div>
</div>

<div class="table-container">
  <table class="table table-sm custom-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Descrição</th>
        <th scope="col">Entrega</th>
        <th scope="col">Horário</th>
        <th scope="col">Está pronto?</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <!-- Assuming you have a variable 'data' containing your data -->
      <% @orders.each do |order| %>
        <tr>
          <td class="tg-0lax"><%= order.id %></td>
          <td class="tg-0lax"><%= order.client_name %></td>
          <td class="tg-0lax"><%= order.description %></td>
          <td class="tg-0lax"><%= order.delivery_date %></td>
          <td class="tg-0lax"><%= order.delivery_hour %></td>
          <td class="tg-0lax"><%= order.ready %></td>
          <td class="tg-0lax"><%= order.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>